html, body {
   height: 100%;
   background-image: url(../img/Retrozone.jpg);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}



p {
   font-family: 'Ubuntu', sans-serif;
   font-size: 20px; 
   color: whitesmoke;
}

h1 {
   text-align: center;
   color: #FC685E;
   font-family: 'Righteous', cursive;
}

a {
   color: whitesmoke;
   font-family: 'Ubuntu', sans-serif;
}

li{
   color: whitesmoke;
   font-family: 'Ubuntu', sans-serif;
}

img {
  opacity: .5;
}

